.btn {
  --bs-btn-padding-x: 2.4rem;
  --bs-btn-padding-y: 1.7rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.1rem;

  
  &-secondary {
    --bs-btn-color: var(--bs-green);
    --bs-btn-hover-color: var(--bs-green);
    }

  &-next {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0;
    --bs-btn-border-color: var(--bs-green);
    --bs-btn-color: var(--bs-green);
    --bs-btn-hover-color: var(--bs-green);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --btn-width: 4.8rem;
    --btn-height: 4.8rem;

    width: var(--btn-width);
    height: var(--btn-height);

    @media (hover: hover) {
      &:hover {
        width: auto;
        padding-inline: 2.8rem;
      }
    }
  }
}
