$icomoon-font-family: 'icons' !default;
$icomoon-font-path: './../../../fonts' !default;

$icon-right-arrow: '\e900';
$icon-plus: '\e90f';
$icon-youtube: '\e911';
$icon-x-twitter: '\e912';
$icon-linkedin: '\e913';
$icon-mail: '\e914';
$icon-close: '\e901';
$icon-dashboard-path1: '\e902';
$icon-dashboard-path2: '\e903';
$icon-down: '\e904';
$icon-down-l: '\e905';
$icon-left: '\e906';
$icon-left-l: '\e907';
$icon-menu-open: '\e908';
$icon-right: '\e909';
$icon-right-l: '\e90a';
$icon-up: '\e90b';
$icon-up-l: '\e90c';
$icon-bars: '\e90d';
